<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Nick</th>
      <th>Degree</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Degree2</th>
      <th>Street</th>
      <th>Town</th>
      <th>Zip</th>
      <th>Birth</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Jabber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nick %></td>
        <td><%= person.degree %></td>
        <td><%= person.name %></td>
        <td><%= person.surname %></td>
        <td><%= person.degree2 %></td>
        <td><%= person.street %></td>
        <td><%= person.town %></td>
        <td><%= person.zip %></td>
        <td><%= person.birth %></td>
        <td><%= person.email %></td>
        <td><%= person.phone %></td>
        <td><%= person.jabber %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
