%h1 Seznam osob
%table
  %thead
    %tr
      %th nick
      %th titul
      %th jméno
      %th příjmení
      %th titul
      %th ulice
      %th město/obec
      %th PSČ
      %th narození
      %th e-mail
      %th telefon
      %th jabber
      %th{:colspan => "3"}
  %tbody
    - @people.each do |person|
      %tr
        %td= person.nick
        %td= person.degree
        %td= person.name
        %td= person.surname
        %td= person.degree2
        %td= person.street
        %td= person.town
        %td= person.zip
        %td= person.birth
        %td= person.email
        %td= person.phone
        %td= person.jabber
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Smazat', person, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'přidat novou osobu', new_person_path