<p id="notice"><%= notice %></p>

<p>
  <strong>Nick:</strong>
  <%= @person.nick %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @person.degree %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Degree2:</strong>
  <%= @person.degree2 %>
</p>

<p>
  <strong>Street:</strong>
  <%= @person.street %>
</p>

<p>
  <strong>Town:</strong>
  <%= @person.town %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @person.zip %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @person.birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Jabber:</strong>
  <%= @person.jabber %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
