%p#notice= notice
%h2= @person.full_name
%p
  %strong Nick:
  = @person.nick
%p
  %strong Titul:
  = @person.degree
%p
  %strong Jméno:
  = @person.name
%p
  %strong Příjmení:
  = @person.surname
%p
  %strong Titul za:
  = @person.degree2
%p
  %strong Ulice a číslo:
  = @person.street
%p
  %strong Město/obec:
  = @person.town
%p
  %strong PSČ (Zip):
  = @person.zip
%p
  %strong Narozen(a):
  = @person.birth
%p
  %strong Email:
  = @person.email
%p
  %strong Telefon:
  = @person.phone
%p
  %strong Jabber:
  = @person.jabber
%h3 Dovednosti
%table
  %tr
    %th Název dovednosti
    %th Úroveň
    %th Čas/ochota
    %th Poznámka
=begin
    %th {:colspan => "2"}
=end
  - @person.people_skills.each do |skill|
    %tr
      %td=skill.skill.name
=begin
      %td= link_to skill.skill.name, skill.skill
=end
      %td
        - skill.level.times do |l|
          %span.fa.fa-star
      %td
        - skill.favor.times do |f|
          %span.fa.fa-heart
      %td=skill.note
      %td= link_to 'Změnit', edit_people_skill_path(skill)
=begin
      %td= link_to 'x', skill, :method => :delete, :data => { :confirm => 'osoba '+ @person.full_name + 'nemá dovednost ' + skill.skill.name +'?' }
      %td= link_to 'x', skill, :method => :delete, :data => { :confirm => 'osoba '+ @person.full_name + 'nemá tuto dovednost?' }
=end
      %td= link_to 'x', skill, :method => :delete, :data => { :confirm => 'osoba nemá tuto dovednost?' }
- if @person.not_my_skills.count>0
  = link_to 'Přidat dovednost', new_people_skill_path(:people_id => @person.id)
= link_to 'Edit osoby', edit_person_path(@person)
|
\#{link_to 'Seznam osob', people_path}
