= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :area_id
    = f.collection.select :area_id, Area.all, :id, :name
  .field
    = f.label :function_id
    = f.collection_select :function_id, Function.all,:id, :name
  .field
    = f.label :phpbb_id
    = f.number_field :phpbb_id
  .actions
    = f.submit 'Save'
