%h1 Seznam dovedností

- if @skills.count==0
  %div.nula
    Nejsou žádné dovednosti odpovídající podmínkám. Můžete vytvořit nové.
-else
  %table
    %thead
      %tr
        %th Dovednost
        %th dotazníková
        %th lidí
        %td upravit
        %td smazat

    %tbody
      - @skills.each do |skill|
        %tr
          %td= link_to skill.name, skill
          %td
            - if skill.ask
              %span.fa.fa-check
          %td= skill.people_skills.count
          %td
            = link_to edit_skill_path(skill) do
              %span.fa.fa-gear
          %td= link_to 'x', skill, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

%div.new
  = link_to 'Vytvořit novou dovednost', new_skill_path
