%p#notice= notice

%h2
  %b Jméno:
  = @skill.name
%p
  %b Ask:
  = @skill.ask
%table
  %tr
    %th dovednost
    %th úroveň
    %th čas
    %th doplnění
    %th telefon
    %th email
    %th jabber
    %th město
  - @skill.people_skills.each do |ps|
    %tr
      %td=ps.person.full_name
      %td=ps.level
      %td=ps.favor
      %td=ps.note
      %td=ps.person.phone
      %td=ps.person.email
      %td=ps.person.jabber
      %td=ps.person.town

= link_to 'Editace', edit_skill_path(@skill)
\|
= link_to 'zpět', skills_path
