%p#notice= notice

%p
  %b Jméno:
  = @skill.name
%p
  %b Ask:
  = @skill.ask
%table
  %tr
    %th Jméno
    %th úroveň
    %th ochota
    %th poznámka
  - @skill.people_skills.each do |ps|
    %tr
      %td=ps.person.name
      %td=ps.people_skill.level
      %td=ps.people_Skill.favor
      %td=ps.people_skill.note

= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path
