= form_for @people_skill do |f|
  - if @people_skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@people_skill.errors.count, "error")} prohibited this people_skill from being saved:"
      %ul
        - @people_skill.errors.full_messages.each do |msg|
          %li= msg

  - if @people_skill.id.nil?
    .field
      = f.label :skill_id
      = f.collection_select(:skill_id, @people_skill.person.not_my_skills, :id, :name)
  - else
    %strong dovednost @skill.name
  .field
    = f.label :level, "úroveň (začátečník, pokročilý, expert)"
    = f.number_field :level, :value => 1
  .field
    = f.label :favor, "čas (možnosti, ochota)"
    = f.number_field :favor, :value => 1
  .field
    = f.label :note, "doplnění k dovednosti"
    = f.text_field :note
  = f.hidden_field :person_id
  .actions
    = f.submit 'Save'
