!!!
%html
  %head
    %title PiratiPo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    /= javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    - if user_signed_in?
      %div#main_menu
        = link_to 'Lidé', people_path
        = link_to 'Dovednosti', skills_path

        = link_to(t('logout'), users_sign_out_path, :method => :delete)
    - else
      = link_to t("sign-in-mojeid"), user_omniauth_authorize_path(:open_id, :openid_url => "https://mojeid.cz/endpoint")
      = link_to t("sign-in-pirateid"), user_omniauth_authorize_path(:open_id, :openid_url => "https://openid.pirati.cz/")

    = yield
